.u-section-1 .u-sheet-1 {
  min-height: 484px;
}

.u-section-1 .u-text-1 {
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  margin: -5px auto 0 49px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 25px auto 60px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }
}